@model eProject3.Models.Course

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="Index.cshtml">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Course</li>
    </ol>

    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Course
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered display" id="dataTable" width="100%" cellspacing="0">
                    <p>
                        <a href="#" class="btn btn-info" onclick="AddNewCourse(0)">Create New Course</a> <br /><br />
                    </p>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Duration</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Image</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
        </div>
    </div>
    @*Create A Popup Modal With Registration Form For Add Or Edit Student Record*@
    <div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="ModalTitle"></h4>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    <form id="form" enctype="multipart/form-data" onsubmit="return AjaxPost(this)">
                        @*@using (Html.BeginForm("SaveData", "ContactUss", FormMethod.Post, new { @class = "form-horizontal", @enctype = "multipart/form-data", @id = "form" }))*@
                        <fieldset id="SubmitForm">
                            @*@Html.EditorFor(model => model.ClassPaymentDeadline, new { htmlAttributes = new { @id = "ClassPaymentDeadline", @class = "form-control", @type = "text", @placeholder = "Payment Deadline", @onfocus = "(this.type='date')", @onblur = "(this.type='text')" } })*@
                            @Html.HiddenFor(m => m.CourseID, new { @id = "CourseID" })
                            <div class="form-group">
                                @Html.EditorFor(m => m.CourseName, new { htmlAttributes = new { @id = "CourseName", @class = "form-control", @placeholder = "Name*" } })
                                @Html.ValidationMessageFor(m => m.CourseName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(m => m.CourseDescription, new { htmlAttributes = new { @id = "CourseDescription", @class = "form-control", @placeholder = "Des*" } })
                                @Html.ValidationMessageFor(m => m.CourseDescription, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(m => m.CourseDuration, new { htmlAttributes = new { @id = "CourseDuration", @class = "form-control", @placeholder = "Dur*" } })
                                @Html.ValidationMessageFor(m => m.CourseDuration, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(m => m.CourseStartDate, new { htmlAttributes = new { @id = "CourseStartDate", @class = "form-control", @type = "text", @placeholder = "Start*", @onfocus = "(this.type='date')", @onblur = "(this.type='text')" } })
                                @Html.ValidationMessageFor(m => m.CourseStartDate, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(m => m.CourseEndDate, new { htmlAttributes = new { @id = "CourseEndDate", @class = "form-control", @type = "text", @placeholder = "End*", @onfocus = "(this.type='date')", @onblur = "(this.type='text')" } })
                                @Html.ValidationMessageFor(m => m.CourseEndDate, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <input type="file" name="ImageFile" id="ImageFile" />
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-block btn-danger">Save</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @*Create A PopUp Modal For DeleteConfirmation*@
    <div class="modal fade" id="DeleteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Delete Course Record</h4>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    <h4>Are You Sure? You Want To Delete This Record.</h4>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancle</a>
                    <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        function getDateString(date) {
            var dateObj = new Date(parseInt(date.substr(6)));
            return dateObj.toDateString();
        }

        $(document).ready(function () {
            $("#dataTable").DataTable({
                "ajax": {
                    "url": "/Admin/Courses/GetCourseList",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "CourseName" },
                    { "data": "CourseDescription" },
                    { "data": "CourseDuration" },
                    { "data": "CourseStartDate", "render": function (data) { return getDateString(data); } },
                    { "data": "CourseEndDate", "render": function (data) { return getDateString(data); } },
                    { "data": "CourseImage", "render": function (data) { return "<img width='100' src='" + data + "'>" } },
                    {
                        "data": "CourseID", "render": function (data) {
                            return "<a href='#' class='btn btn-warning' onclick='EditCourseRecord(" + data + ")' >Update</a>" + " " +
                                "<a href='#' class='btn btn-danger' onclick='DeleteCourseRecord(" + data + ")'>Delete</a>"
                        }
                    }
                ],
                "language": {
                    "emptyTable": "No data found, please add new"
                }
            });
        });

        //Show The Popup Modal For Add New Student

        function AddNewCourse(CourseId) {
            $("#form")[0].reset();
            $("#CourseID").val(0);
            $("#ModalTitle").html("Add New Course");
            $("#MyModal").modal();
        }

        //Show The Popup Modal For Edit Student Record

        function EditCourseRecord(CourseId) {
            var url = "/Admin/Courses/GetCourseById?CourseID=" + CourseId;
            $("#ModalTitle").html("Course Record");
            $("#MyModal").modal();
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    var obj = JSON.parse(data);
                    $("#CourseID").val(obj.CourseID);
                    $("#CourseName").val(obj.CourseName);
                    $("#CourseDescription").val(obj.CourseDescription);
                    $("#CourseDuration").val(obj.CourseDuration);
                    $("#CourseStartDate").val(obj.CourseStartDate);
                    $("#CourseEndDate").val(obj.CourseEndDate);
                    $("#ImageFile").val(obj.ImageFile);
                }
            })
        }

        function AjaxPost(formData) {
            var ajaxConfig = {
                type: "POST",
                url: "/Admin/Courses/SaveData",
                data: new FormData(formData),
                success: function (result) {
                    alert("Sucess!");
                    window.location.href = "/Admin/Courses/Index";
                }
            }
            if ($(formData).attr('enctype') == "multipart/form-data") {
                ajaxConfig["contentType"] = false;
                ajaxConfig["processData"] = false;
            }
            $.ajax(ajaxConfig);
            return false;
        }

        //Show The Popup Modal For DeleteComfirmation
        var DeleteCourseRecord = function (CourseID) {
            $("#CourseID").val(CourseID);
            $("#DeleteConfirmation").modal("show");
        }
        var ConfirmDelete = function () {
            var CourseID = $("#CourseID").val();
            $.ajax({
                type: "POST",
                url: "/Admin/Courses/DeleteCourseRecord?CourseID=" + CourseID,
                success: function (result) {
                    alert("Success!");
                    window.location.href = "/Admin/Courses/Index";
                    $("#DeleteConfirmation").modal("hide");
                }
            })
        }


    </script>


